<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
   <p>
  <%= @book.reservations.last.expires_in %> upływa termin oddania książki pt. <%= @book.title %>. Prosimy - zwróć książkę w terminie!<br>
  <%= link_to "Przejdź do książki", book_url(@book.id, host: "ksiegarnia-nikodem.c9users.io") %>
</p>
  </body>
</html>